<div class="jumbotron jumbotron-fluid" id="mainHeaderColor">
  <div class="container" id="backgroundMain"></div>
    <h1 id="mainHeader">Swan Vitality Personal Trainers</h1>
    <nav class="navbar navbar-toggleable-sm bg-info" id="buttonBackground">
      <div class="container">
        <button class="navbar-toggler" id="buttonBackground" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon" id="buttonBackground" ></span>
      </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <div class="navbar-nav" id="navButtons">
            <a class="nav-item nav-link active" id="navLinks" href="/">Home</a>
            <a class="nav-item nav-link active" id="navLinks" href="/packages">Packages</a>
            <a class="nav-item nav-link active" id="navLinks" href="/videos">Videos</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">News</a>
            <a class="nav-item nav-link active" id="navLinks" href="about">About</a>
            </div>
        </div>
      </div>
    </nav>
</div>